.music-player {
    height: 10vh;
    width: 100%;
    bottom: 0;
    display: flex;
    background-color: #181818;
    align-items: center;
    justify-content: start;
}

.player-song-info {
    margin: auto 0;
    margin-left: 20px;
    width: 25%;
    position: absolute;
    justify-self: flex-start;
}

.play-info {
    margin: 0;
    width: 40%;
    text-align: center;
    align-self: center;
    justify-self: center;
    margin: auto;
}

.play-info img {
    width: 30px;

}

.right-player {
    width: 30%;
}

.song-progress {
    display: flex;
}

.song-progress p {
    margin: 0 auto;
    text-align: center;
}

.prog-bar {
    background-color: #b3b3b3;
    width: 80%;
    height: 6px;
    margin: auto;
    padding: 0;
    border-radius: 15px;
    float: left;
}

.player-img {
    display: table;
    bottom: 10vh;
    position: absolute;
}

.player-img img {
    display: table-row;
}

.player-img img {
    width: 200px;
}

.player-wrapper {
    position: sticky;
    bottom: 0;
}